body {
    background-color: #060707;
    padding: 80px;
}

h2 {
    color: var(--light-text-color, #FFF);
    /* h2 */
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px;
    /* 142.5% */
    letter-spacing: 0.2px;
    margin-bottom: 10px;
    text-align: center;
}

p {
    color: var(--light-text-color, #FFF);

    /* h2 */
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px;
    /* 142.5% */
    letter-spacing: 0.2px;
    width: 470px;
    margin: 0 auto;
}